<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8e163bbb-b7e2-45d4-bd62-21275440c9d7/resourcegroups/Api_Crud_Filmes/providers/Microsoft.Web/sites/CrudFilmesAPI20210725174713</ResourceId>
    <ResourceGroup>Api_Crud_Filmes</ResourceGroup>
    <ApiResourceId>/subscriptions/8e163bbb-b7e2-45d4-bd62-21275440c9d7/resourceGroups/Api_Crud_Filmes/providers/Microsoft.ApiManagement/service/APICrudFilme/apis/filmes</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://crudfilmesapi20210725174713.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>153fdffa-f650-48f8-b162-cd527a0635e0</ProjectGuid>
    <MSDeployServiceURL>crudfilmesapi20210725174713.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CrudFilmesAPI20210725174713</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CrudFilmesAPI20210725174713</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>